<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.triple.Mapper.PointMapper">
    <!-- 특정 장소 첫 리뷰 조회  -->
    <select id="selectReviewPlace" parameterType="point" resultType="review">
        SELECT reviewId,content,attachedPhotoIds,COUNT(placeId) as count
        FROM review
        WHERE placeId = #{placeId}
        ORDER BY date DESC
        LIMIT 1
    </select>

    <!--  포인트 등록  -->
    <insert id="insertPointEvent" parameterType="point">
        INSERT INTO point(pointId,userId,reviewId,point,type,action,date)
        VALUES(UUID(),#{userId},#{reviewId},#{point},#{type},#{action},now())
    </insert>

    <!--리뷰 포인트 최근기록 조회  -->
    <select id="selectReviewPoint" parameterType="point" resultType="point">
        SELECT pointId,userId,reviewId,point,type,action,date
        FROM triple.point
        WHERE reviewId = #{reviewId} AND userId = #{userId}
        order by date DESC
        limit 1
    </select>

    <!--포인트 조회-->
    <select id="selectPoint" parameterType="String" resultType="point">
        SELECT point
        FROM(
            SELECT *
            FROM triple.point
            WHERE userId = #{userId} AND (reviewId, date) in (
            SELECT reviewId, max(date) as date from triple.point group by reviewId
            )
            ORDER BY date desc
        ) t
        GROUP BY t.reviewId
    </select>

</mapper>