<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.triple.Mapper.ReviewMapper">

    <insert id="insertReview" parameterType="review">
        INSERT INTO review(reviewId, content, attachedPhotoIds, placeId, userId, date)
        VALUES(#{reviewId},#{content},#{attachedPhotoIds},#{placeId},#{userId},now())
    </insert>

    <update id="modifyReview" parameterType="review">
        UPDATE review
        SET content = #{content},
            attachedPhotoIds = #{attachedPhotoIds},
            date = now()
        WHERE reviewId = #{reviewId}
    </update>

    <delete id="deleteReview" parameterType="String">
        DELETE FROM triple.review WHERE reviewId = #{reviewId}
    </delete>

</mapper>